[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
pybase64 = "*"
numpy = "*"
pillow = "*"
opencv-python = "*"
matplotlib = "*"
tasks = "*"
pyserial = "*"

[dev-packages]

[requires]
python_version = "3.8"
