<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">

    <title>Document</title>
    <style>
      body {
        background: black;
        color: #cccccc;
      }
    </style>
  </head>
  <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
  <body>
    <div>
      <video src="/static/video/bridge.mov" height="300" id="video" controls playsinline autoplay muted loop></video>
      <!-- <video src="/static/video/bridge.mov" style="position: absolute; left: 0px; bottom: 0px; width: 100%; height: 100px;" id="video" controls playsinline autoplay muted loop></video> -->
    </div>
    <div>
      <canvas
        id="c1"
        style="
          position: absolute;
          left: 0px;
          bottom: 0px;
          width: 100%;
          height: 100px;
        "
      ></canvas>
    </div>
    <script type="text/javascript" src="/static/processor.js"></script>
  </body>
